<footer class="main-footer">
    <div class="inner-container clearfix">

        <div>
            <h3>Made with <i class="fa fa-heart"></i> at InApp.</h3>
        </div>

        <nav class="footer-block">
            <a href="http://www.inapp.eu/articles" target="_blank">Development Blog</a>
            <a href="mailto:henry@inapp.eu">Contact</a>
        </nav>

        <nav class="footer-block">
            <a class="social tw" href="http://twitter.com/gamodogames" target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="social fb" href="http://facebook.com/gamodo.eu" target="_blank">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="http://www.henrykeller.eu" target="_blank">Copyright © 2015 Henry Keller.</a>
        </nav>

    </div>
</footer>
