<div class="col-xs-2 sidebar">

    <div class="sidebar-header">
        <h2><span class="highlight">#</span>InVira</h2>
    </div>


    <ul class="nav menu">
        <li class="sidebar-caption">
            <h2>Channels</h2>
        </li>
        <li class="channel-item" ng-repeat="channel in channelsCtrl.channels">
            <a ui-sref="channels.messages({channelId: channel.$id})" ui-sref-active="selected">#{{ channel.name }}</a>
        </li>
        <li class="text-center">
            <a ui-sref="channels.create"><i class="material-icons add-icon">add_circle_outline</i> Create Channel</a>
        </li>
        <li class="sidebar-caption">
            <h2>User</h2>
        </li>
        <li ng-repeat="user in channelsCtrl.users">
            <a ng-if="user.$id !== channelsCtrl.profile.$id" ui-sref="channels.direct({uid: user.$id})">
                <span class="status" ng-class="{online: user.online}"></span>
                {{ user.displayName }}</a>
        </li>
    </ul>
</div>

<div class="col-xs-10 col-xs-offset-2 main">
    <div class="row fixed-header">
        <div class="col-xs-2">
            <h2 ng-bind="headerTitle"></h2>
        </div>
        <div class="col-lg-10 float-right">
            <ul class="user-menu">
                <li class="dropdown pull-right">
                    <a class="dropdown-toggle user-link" data-toggle="dropdown"><img class="user-pic img-rounded" ng-src="{{ channelsCtrl.getGravatar(channelsCtrl.profile.$id) }}" /> {{ channelsCtrl.profile.displayName }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ui-sref="profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#" ng-click="channelsCtrl.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="subpage" ui-view></div>
        </div>
    </div>
</div>

